doctype html
html
   head
      title = "Policies List"
      link(rel="stylesheet", href="/stylesheet.css")
   body
      h1.test List of Policies available:
      ul
         - for (var i = 0; i < policies.length; i++)
           li
              a(href="/policies/" + parseInt(i+1)) #{policies[i].name}
           br  
      // form(action = "/claims", method = "POST")
      //    div
      //       label(for = "name") Name:
      //       input(name = "name")
      //    br
      //    div
      //       label(for = "policyno") Policyno:
      //       input(name = "policyno" )
      //    br
      //    button(type = "submit") Register